<!DOCTYPE html>
<html lang="en">
	<title>WikiMaps></title>
		<body>
    <nav id="nav-bar">
      <span class="header">WikiMaps</span>
      <span class="profile"> Profile </span>
      <span class="create"> Create </span>
      <span class="logout"> Logout </span>
    </nav>
	</body>
</html>
	