<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />
  </head>
  <body>
    <% include ./partials/_header %>

    <!-- Page Content -->
    <div class="container">

         <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create a Map
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->

        <div id="mapname">
          <h3>
              <a href="#">Map Name</a>
          </h3>
          <p>
            <form id ="mapTitle" method="POST" action="/maps/:id">
              <textarea id="mapTitleText" placeholder="Your title here"></textarea>
              <input id= "saveTitle" type="submit" value="Submit"></input>
            </form>
          </p>
        </div>
  </body>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6q3h49p_htm4_dL0_HAJsBsoTCiXRTfk"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/google_client.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6q3h49p_htm4_dL0_HAJsBsoTCiXRTfk&callback=initMap"></script>
  <script type="text/javascript" src="/scripts/save_title.js"></script>

<!-- Replace the value of the key parameter with your own API key. -->

<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6q3h49p_htm4_dL0_HAJsBsoTCiXRTfk&callback=initMap"></script> -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Wikimap 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
