<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WikiMaps</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  </head>
  <body>
    <nav id="nav-bar">
      <span class="header">WikiMaps</span>
      <span class="profile"> Profile </span>
      <span class="create"> Create </span>
      <span class="logout"> Logout </span>
    </nav>
  </body>
  <div id="homemaps">
   <iframe class="onemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d369106.72679494927!2d-79.65824079514913!3d43.7178990103055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C+ON!5e0!3m2!1sen!2sca!4v1486064210403"></iframe>
    <strong> TITLE HERE </strong>
  </div>


</html>

