<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/profile.css" type="text/css" />
  </head>
  <body>
    <% include ./partials/_header %>
    <table id ="profile_table">
      <td>
        <tr>
          <h2>My Maps</h2>
          <img src="http://www.placehold.it/200x200">
        </tr>
        <tr>
          <h2>Contributions</h2>
          <img src="http://www.placehold.it/200x200">
        </tr>
        <tr>
          <h2>Favourites</h2>
          <img src="http://www.placehold.it/200x200">
        </tr>
      </td>
      <td>
      </td>
    </table>
  </body>
</html>

